<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjt.mapper.DfoodlistMapper">
  <resultMap id="BaseResultMap" type="com.zjt.entity.Dfoodlist">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="f_Isquick" jdbcType="INTEGER" property="fIsquick" />
    <result column="f_ParentId" jdbcType="INTEGER" property="fParentid" />
    <result column="f_Pro" jdbcType="DECIMAL" property="fPro" />
    <result column="f_Car" jdbcType="DECIMAL" property="fCar" />
    <result column="f_Fat" jdbcType="DECIMAL" property="fFat" />
    <result column="f_Ene" jdbcType="DECIMAL" property="fEne" />
    <result column="f_Name" jdbcType="VARCHAR" property="fName" />
  </resultMap>

  <resultMap type="com.zjt.model.Dfoodtotallist" id="DfoodTotallistResultMap">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="f_Isquick" jdbcType="INTEGER" property="fIsquick" />
    <result column="f_ParentId" jdbcType="INTEGER" property="fParentid" />
    <result column="f_Pro" jdbcType="DECIMAL" property="fPro" />
    <result column="f_Car" jdbcType="DECIMAL" property="fCar" />
    <result column="f_Fat" jdbcType="DECIMAL" property="fFat" />
    <result column="f_Ene" jdbcType="DECIMAL" property="fEne" />
    <result column="f_Name" jdbcType="VARCHAR" property="fName" />
    <result column="fp_id" jdbcType="INTEGER" property="fpId" />
    <result column="fp_name" jdbcType="VARCHAR" property="fpName" />
  <!--<association property="dfoodpar" javaType="com.zjt.entity.Dfoodpar">
    <id column="fp_id" jdbcType="INTEGER" property="fpId" />
    <result column="fp_name" jdbcType="VARCHAR" property="fpName" />
  </association>-->
  </resultMap>

  <select id="findfood" parameterType="map" resultMap="DfoodTotallistResultMap">
    select id,f_Isquick,f_ParentId,f_Pro,f_Car,f_Fat,f_Ene,f_Name,fp_id,fp_name from djxt_food_list
    LEFT JOIN djxt_food_parent  ON  djxt_food_list.f_ParentId=djxt_food_parent.fp_id
    <where>
      <if test="fName!=null and fName!=''">
        and f_Name like #{fName}
      </if>
      <if test="fIsquick!=null and fIsquic!=''">
        and f_Isquick=#{fIsquick}
      </if>
      <if test="fParentid!=null and fParentid!=''">
        and f_ParentId=#{fParentid}
      </if>
    </where>
    <if test="start!=null and size !=null">
      limit #{start},#{size}
    </if>
  </select>



  <select id="getTotalfood" parameterType="Map" resultType="Long">
    select count(*) from djxt_food_list
    <where>
      <if test="fName!=null and fName!='' ">
        and f_Name like #{fName}
      </if>
      <if test="fIsquick!=null and fIsquic!=''">
        and f_Isquick=#{fIsquick}
      </if>
      <if test="fParentid!=null and fParentid!=''">
        and f_ParentId=#{fParentid}
      </if>
    </where>
  </select>

  <insert id="addFood" parameterType="Map">
    INSERT  INTO djxt_food_list(f_Isquick,f_ParentId,f_Pro,f_Car,f_Fat,f_Ene,f_Name)
    VALUES(#{fIsquick},#{fParentid},#{fPro},#{fCar},#{fFat},#{fEne},#{fName})
  </insert>
  <delete id = "deleteFood" parameterType="String">

    delete from djxt_food_list where id=#{id}
  </delete>


  <update id="updateFood" parameterType="Map">
    update djxt_food_list
    <set>
      <if test="fName!=null and fName!='' ">
        f_Name=#{fName},
      </if>
      <if test="fIsquick!=null and fIsquick!='' ">
        f_Isquick=#{fIsquick},
      </if>
      <if test="fParentid!=null and fParentid!='' ">
        f_Parentid=#{fParentid},
      </if>
      <if test="fPro!=null and fPro!='' ">
        f_Pro=#{fPro},
      </if>
      <if test="fFat!=null and fFat!='' ">
        f_Fat=#{fFat},
      </if>
      <if test="fCar!=null and fCar!='' ">
        f_Car=#{fCar},
      </if>
      <if test="fEne!=null and fEne!='' ">
        f_Ene=#{fEne},
      </if>
    </set>
    where id=#{id}

  </update>
</mapper>